<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit converter</title>
</head>
<body>

<p>Hello there! Welcome to unit converter.</p>

<form method="post">

    <p>Choose conversion:</p>
    <select name="conversion">
        <option value="1">kms to miles</option>
        <option value="2">miles to kms</option>
    </select><br>

    <p>Enter number:</p>
    <input name="number" type="number" min=0 step="any">
    <button type="submit">GO</button>

</form>

<br>
{% if result %}
{{ result }}
{% endif %}

</body>
</html>